# Byte-compiled / optimized / DLL files
__pycache__/

#MyIgnore
.idea
__binaries__
__dockers__
__images__
__temp__
__VMs__
_curl
_mirrorKC
docker-compose_dev.yml
mirror.db
_mirror/update_files/*.csv
_mirror/update_files/*.gz
_mirror/update_files/*.sig
*.*~
*.log

.env
mirror.db
/update_files
/output
