# Byte-compiled / optimized / DLL files
__pycache__/

#MyIgnore
.idea
__binaries__
__dockers__
__images__
__temp__
__VMs__
_curl
_mirrorKC
docker-compose_dev.yml
*.*~
*.log
.env
mirror.db
/update_files
