# Byte-compiled / optimized / DLL files
__pycache__/

# MyIgnore
.idea
.vscode
__temp__
_mirror/logs/*.*
_mirror/update_files/security_image
_mirror/update_files/*.csv
_mirror/update_files/*.gz
_mirror/update_files/*.md5
_mirror/update_files/*.sig
_mirror/update_files/*.tpl
_mirror/update_files/antispam_cache/*.dat
_mirror/update_files/antispam_cache/*.gzip
_mirror/update_files/antispam_cache/*.id
_mirror/update_files/antispam_cache/*.sig
_mirror/update_files/antivirus_cache/*.dat
_mirror/update_files/antivirus_cache/*.gzip
_mirror/update_files/antivirus_cache/*.id
_mirror/update_files/antivirus_cache/*.sig
_mirror/update_files/distros/*.img
_mirror/update_files/distros/*.sig
_mirror/update_files/matrix_cache/ipv4/*.dat
_mirror/update_files/matrix_cache/ipv6/*.dat
_nginx/acl/*.conf
_tor/bridges/*.config
_tor/bridges/cache
_xray/confs/routing.json
_xray/geodata/*.dat
_xray/geodata/*.etag
Dockerfile.dev
docker-compose.dev.yml
docker-compose.tinyproxy.dev.yml
db.sqlite3
*.cache
*.env
